body {
  width: 100%;
  text-align: center;
  background: url('images/brazil.jpg');
  background-size: cover;
}

table {
  margin: 0 auto;
}

img {
  height: auto;
  width: 30px;
}

.teams {
  display: none;
}

.show-teams {
  /*margin-bottom: 20px;*/
}

.visualization {
  width: 100%;
  margin: 0 auto;
}

svg {
  display: block;
  float: left;
  margin-top: -40px;
}

h2 {
  display: inline-block;
}

.home-title {
  position: absolute;
  top: 150px;
  left: 100px;
  display: none;
}

.away-title {
  position: absolute;
  top: 150px;
  left: 655px;
  display: none;
}
