body {
  width: 100%;
  text-align: center;
}

table {
  margin: 0 auto;
}

img {
  height: auto;
  width: 30px;
}

.teams {
  display: none;
}

.show-teams {
  /*margin-bottom: 20px;*/
}

.visualization {
  width: 100%;
  margin: 0 auto;
}

svg {
  display: block;
  float: left;
}
